#equipv-container {
    background-color: var(--white);
}

#container-equips {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 22em;

}

.container-track {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container-cards {
    display: flex;
    height: 100%;
    gap: 20px;
    transition: transform 0.4s ease-in-out;
    /* Certifique-se que o conteúdo do carrossel não transborde fora do contêiner */
    overflow: hidden;
    width: 100%;
}


.cards {
    height: 100%; 
    width: 300px;
    background-color: var(--white);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.163);
    border-radius: 10px;
}

.cards img {
    height: 50%;
}

.text-equips {
    font-size: 14px;
    text-align: left;
    padding-inline: 6%;
    padding-bottom: 14%;
    line-height: 1.6em;
}

h4 {
    padding-inline: 6%;
    padding-block: 7%;
}

#container-equips span {
    font-size: 50px;
    padding-left: 10px;
    padding-inline: 32px;

}

.active {
    display: block;
}

.none {
    display: none;
}


