#equipv-container {
    background-color: var(--white);
}

#container-equips {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 23em;
    padding-left: 40px;
    padding-right: 40px;
}

.cards {
    height: 100%; 
    width: 27%;
    background-color: black;
    border-radius: 10px;
}
