#equipv-container {
    background-color: var(--white);
}

#container-equips {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 22em;
    margin-bottom: 5em;

}

.container-track {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container-cards {
    display: flex;
    height: 100%;
    gap: 20px;
    transition: transform 0.4s ease-in-out;
    width: 100%;
}

.cards {
    height: 100%; 
    width: 290px;
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.184);
    border-radius: 10px;
}

.cards img {
    height: 50%;
    width: 289px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
}

.text-equips {
    font-size: 14px;
    text-align: left;
    padding-inline: 6%;
    padding-bottom: 14%;
    line-height: 1.6em;
}

h4 {
    padding-inline: 6%;
    padding-block: 7%;
}

#container-equips span {
    font-size: 50px;
    padding-left: 10px;
    padding-inline: 32px;
    cursor: pointer;
}


@media (max-width: 1500px) {

}


@media (max-width: 1100px) {
    
}

