#espaco-container {
    background-color: var(--blue-background-color);
}

#blue{
    color: #00D4FF;
}

#white {
    color: white;
}

#margin {
    padding-left: 40px;
}

#container-espaco {
    overflow: hidden;
    z-index: 100;
    width: 100%;
    background-color: var(--white);
    border-radius: 20px;
    border: 3px solid transparent;
    background-image: linear-gradient(white, white), linear-gradient(to bottom right, #00D4FF, #000000);
    background-origin: border-box;
    background-clip: padding-box, border-box; 
}

.no-scroll {
    overflow: hidden;
}

.header-espaco {
    width: 100%;
    height: 60px;
    border: 2px solid #00D4FF;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    display: flex;
    justify-content: space-between;
}

.title-inter-espaco {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.spans-espaco {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    gap: 20px;
}

.frame {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
        Droid Sans, Helvetica Neue, sans-serif;
    border: none;
}

#close-avatar {
    display: none;
    cursor: pointer;
}

.custom-button {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00e5d5; /* Cor de fundo */
    color: #000; /* Cor do texto */
    border: none;
    border-radius: 25px; /* Borda arredondada */
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: transform 0.2s, box-shadow 0.2s;
  }

  .custom-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Efeito ao passar o mouse */
  }

  .custom-button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Efeito ao clicar */
  }

  .material-icons {
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
  }

#share-buttons {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    gap: 20px;
}

#share-buttons i {
    cursor: pointer;
}

.notificacao {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white; /* Cor do texto */
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s, transform 0.5s ease-in-out;
    z-index: 9999;
  }
  
  /* Estilo para a notificação quando visível */
  .notificacao.show {
    opacity: 1;
    transform: translateX(0);
  }

/* Large Size */
@media screen and  (max-width: 992px) {

}

/* Medium Size */
@media screen and  (max-width: 768px) {
    #margin {
        padding-left: 20px;
        margin-bottom: 20px !important;
    }

}

/* Small Size */
@media screen and  (max-width: 576px) {
    .title-white-espaco {
        display: none;
    }
}