#espaco-container {
    background-color: var(--blue-background-color);
}

#blue{
    color: #00D4FF;
}

#white {
    color: white;
}

#margin {
    padding-left: 40px;
}

#container-espaco {
    width: 100%;
    height: 38em;
    background-color: var(--white);
    border-radius: 20px;
    border: 3px solid transparent;
    background-image: linear-gradient(white, white), linear-gradient(to bottom right, #00D4FF, #000000);
    background-origin: border-box;
    background-clip: padding-box, border-box; 
}

.header-espaco {
    width: 100%;
    height: 60px;
    border: 2px solid #00D4FF;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    display: flex;
    justify-content: space-between;
}

.title-inter-espaco {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.spans-espaco {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    gap: 20px;
}

/* Large Size */
@media screen and  (max-width: 992px) {

}

/* Medium Size */
@media screen and  (max-width: 768px) {
    #margin {
        padding-left: 20px;
        margin-bottom: 20px !important;
    }

}

/* Small Size */
@media screen and  (max-width: 576px) {
    .title-white-espaco {
        display: none;
    }
}