footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 150px 0px 50px 0px;
}

#logo-name-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 22px
}

#logo-name-footer img {
    width: 75px;
}

#line-footer {
    width: 100%;
    height: 1px;
    background-color: #807a7a30;
}

#footer-navbar {
    display: flex;
    gap: 75px;
}

#footer-navbar li {
    color: var(--black) !important;
    text-decoration: underline;
}

#credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#credits img {
    width: 75px;
}

#credits span {
    color: #807a7a;
    font-size: 15px;
}

/* Large Size */
@media screen and  (max-width: 992px) {
    #footer-navbar {
        gap: 50px;
    }
}

/* Medium Size */
@media screen and  (max-width: 768px) {
    #footer-navbar {
        display: none;
    }

    footer {
        gap: 50px;
        padding: 100px 0px 50px 0px;
    }

    #credits img {
        width: 40px;
    }

    #credits span {
        font-size: 10px;
    }
}

/* Small Size */
@media screen and  (max-width: 576px) {

}