header {
    display: flex;
    background-color: var(--blue-background-color);
    padding: 30px 60px;
    justify-content: space-between;
}

#logo-name {
    display: flex;
    align-items: center;
    color: var(--white);
    gap: 20px;
    font-size: 22px;
}

#logo-name img {
    width: 35px;
}

#header-navbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Large Size */
@media screen and  (max-width: 992px) {
    #banner-section div h1 {
        font-size: 30px;
    }

    #banner-section div p {
        display: none;
    }

    #banner-section img {
        width: 25em;
    }
}

/* Medium Size */
@media screen and  (max-width: 768px) {
    nav {
        display: none !important;
    }

    #logo-name span {
        display: none;
    }

    header {
        padding: 30px 8%;
    }
}

/* Small Size */
@media screen and  (max-width: 576px) {

}