@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('./header.css');
@import url('./banner.css');
@import url('./what-rv.css');
@import url('./espaco.css');
@import url('./ensino.css');
@import url('./treinamento.css');
@import url('./social.css');
@import url('./vd.css');
@import url('./chatvr.css');
@import url('./footer.css');
@import url('./equipv.css');

:root {
    --blue-background-color: #0A2540;
    --light-background-color: #F6F9FC;
    --white: #FFFFFF;
    --black: #000000;
    --light-blue: #635BFF;
    --font-family: "Inter", sans-serif;
    --font-size-text: 18px;
    --font-size-title: 36px;
    --font-size-subtitle: 22px
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li, a {
    list-style: none;
    text-decoration: none;
    color: var(--white);
}

body {
    font-size: var(--font-size-text);
    font-family: var(--font-family);
    width: 100%;
    min-height: 100vh;
}

.margin-section {
    height: 100%;
    margin: 0px 12%;
    border-inline: 1px solid #807a7a15;
}

.size-container {
    width: 100%;
    height: 100vh;
}

.subtitle-section {
    color: var(--light-blue);
    padding-top: 120px;
    padding-bottom: 50px;
    padding-left: 40px;
    font-size: var(--font-size-subtitle);
}

.title-section {
    color: var(--black);
    padding-bottom: 50px;
    padding-left: 40px;
    font-size: var(--font-size-title);
}

.text-padding {
    color: var(--black);
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 30%;
    font-size: var(--font-size-text);
}