@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --primary-color: #0A2540;
    --secondary-color: #F6F9FC;
    --background-color: #FFFFFF;
    --text-color: #000000;
    --text-color-second: #635BFF;
    --font-family: "Inter", sans-serif;
    --font-size-text: 22px;
    --font-size-title: 50px;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
  }
  
  html {
    font-size: var(--font-size-text);
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    line-height: 1.6;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
    font-weight: 700;
    font-size: var(--font-size-title);
  }