.quadrado{
    border-width: 2px;
    border-style: solid;
    border-color: aqua;
    border-radius: 20px;
    width: 170px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;


}
#container-quadrados{
    width: 100%;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragrafos{
    font-size: 14px;

}

#container-quadrados span{
    font-size: 90px;
    
}

#quadrados-baixo{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
}


#container-baixo{
    width: 170px;
    flex-direction: column;
    align-items: center;
    display: flex;
}

#container-baixo #esse{
    color: var(--light-blue);
}

.cor-borda{
    border: 2px solid black;
}

#esse2 {
    display: none;
}

/* Very Large Size */
@media screen and  (min-width: 1250px) {
    #quadradros-baixo {
        width: 80% !important;
    }
}

/* Large Size */
@media screen and  (max-width: 992px) {
    
}

/* Medium Size */
@media screen and  (max-width: 768px) {
    
}

/* Small Size */
@media screen and  (max-width: 576px) {
    
}
