
#container-quadrados {
    height: 100%; width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.quadrado {
    width: 170px;
    height: 170px;
    border: 2px solid black ;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#container-quadrados span{
    font-size: 90px;
}

.paragrafos-social{
    font-size: 14px;
}

#quadrados-baixo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#arrow-quadrado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.blue-board {
    border-color: aqua;
}

#arrow {
    color: var(--light-blue);
}

#arrow-secret  {
    color: var(--light-blue);
    display: none;
}

/* Medium Size */
@media screen and  (max-width: 860px) {

    .quadrado {
        width: 90%; height: 100%;
        flex-direction: row;
        justify-content: start;
        gap: 60px;
        padding-inline: 6%;
        text-align: justify;
        
    }

    #quadrados-baixo {
        flex-direction: column;
        gap: 20px;
    }


    #arrow {
        display: none;
    }

    #arrow-secret {
        display: block;
        margin-block: -30px;
    }

    #arrow-quadrado {
        width: 100%;
    }

    .paragrafos-social br {
        display: none;
    }

    .paragrafos-social {
        text-align: left;
    }


    #container-quadrados span {
        padding-block: 3%;
        font-size: 60px
    }

}

/* Small Size */
@media screen and  (max-width: 576px) {

    .paragrafos-social {
        font-size: 13px;
    }

    .quadrado {
        gap: 20px;
    }

    #arrow-secret {
        font-size: 30px;
    }
}


