<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Virteaching</title>
</head>
<body>
    <div class="line-left"></div>
    <div class="line-right"></div>
        <section class="banner"></section>
        <section class="what-rv"></section>
        <section class="equipment"></section>
        <section class="methods"></section>
        <section class="experencie"></section>
        <section class="training"></section>
        <section class="challenge"></section>
        <section class="consequences"></section>
        <section class="chat-vr"></section>
        <section class="footer"></section>



</body>
</html>