<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="module" src="../static/js/script.js" defer></script>
    <title>Virteaching</title>
</head>
<body>
    {% block conteudo %}
    <header>
        <div id="logo-name">
            <img src="../static/assets/logo-white.png" alt="Logo">
            <span>Virteaching</span>
        </div>
        <span id="open-menu" class="material-symbols-outlined">menu</span>
        <nav id="header-navbar">
            <a href="#what-rv-container"><li>Tecnologia</li></a>
            <a href="#equipv-container"><li>Utilitários</li></a>
            <a href="#espaco-container"><li>Espaço</li></a>
            <a href="#treinamento-container"><li>Educação</li></a>
            <a href="#chatvr-container"><li>VR Chat</li></a>
        </nav>
    </header>
    <main>
        <section id="banner-section">
            <div>
                <h1>REALIDADE VIRTUAL:<br><span>UM NOVO MÉTODO DE ENSINO</span></h1>
                <p>Transformando Saberes: Da Sala de Aula Tradicional à Imersão na Realidade Virtual Profissional, Reimaginando a Educação e Ampliando Horizontes de Aprendizagem.</p>
            </div>
            <img src="../static/assets/banner-img.png" alt="">
        </section>

        <span class="material-symbols-outlined" id="tops" onclick="window.location.href='#'">keyboard_double_arrow_up</span>

        <div class="size-container" id="what-rv-container">
            <section class="margin-section" id="what-rv-layout">
                <h3 class="subtitle-section">Tecnologia</h3>
                <div id="what-rv">
                    <div>
                        <h1 class="title-section">O que é<br> Realidade Virtual?</h1>
                        <p> A realidade virtual é uma tecnologia inovadora que cria ambientes imersivos e interativos, permitindo que os usuários experimentem simulações tridimensionais de maneira envolvente. Utilizando dispositivos como óculos VR e controladores de movimento, a RV transporta os usuários para mundos digitais, onde podem explorar, aprender e interagir de forma única. Desde sua origem em simuladores de voo até sua aplicação em áreas como educação, medicina e entretenimento, a realidade virtual tem revolucionado a forma como vivenciamos o aprendizado e a interação social. </p>
                    </div>
                    <img src="../static/assets/whatrv.png" alt="O que é realidade virtual">
                </div>
            </section>
        </div>
        <div class="size-container" id="equipv-container">
            <section class="margin-section" id="equipv-layout">

                <h3 class="subtitle-section">Utilitários</h3>
                <h1 class="title-section">Equipamentos Virtuais</h1>
                <p class="text-padding"> Na Realidade Virtual, a interação entre o usuário e o sistema é facilitada por uma ampla variedade de dispositivos de entrada e saída. Esses dispositivos permitem que o usuário se comunique com o ambiente virtual de maneira intuitiva e envolvente. Entre os dispositivos mais comuns estão:  </p>
            
                <div id="container-equips">
                    <span class="material-symbols-outlined" id="left-chevron" >arrow_back_ios</span>

                    <div class="container-track">

                        <div class="container-cards">
                    
                                {% for equips_title, equips_info in equips_dict.items() %}
                                    <div class="cards {{equips_info.estado}}">
                                        <img src="{{equips_info.image}}" alt="">
                                        <h4>{{equips_title}}</h4>
                                        <p class="text-equips">{{equips_info.conteudo}}</p>
                                    </div>
                                {% endfor %}

                            </div>
                            
                    </div>
                
                    <span class="material-symbols-outlined" id="right-chevron">arrow_forward_ios</span>
                </div>
            
            </section>
        </div>
        <div class="size-container" id="ensino-container">
            <section class="margin-section" id="ensino-layout">

                <h3 class="subtitle-section">Educação</h3>
                <h1 class="title-section">Métodos de Ensino</h1>
                <p class="text-padding">A crescente necessidade de engajamento na formação do conhecimento humano, por meio da resolução de problemas, reflete uma exigência do mercado de trabalho. A eficácia do aprendizado de um profissional está ligada às metodologias utilizadas em sua formação. Diversas estratégias de ensino podem enriquecer o processo de aprendizagem, permitindo que os alunos construam seu conhecimento de maneira mais eficaz. Este artigo abordará tanto o Método Tradicional quanto o Método que utiliza realidade virtual (RV).</p>

                <div id="container-ensino">
                    <div  class="grid-text" id="tradicional">
                        <h3 class="title-ensino">Tradicional</h3>
                        <p class="text-ensino">No método tradicional de ensino, o professor é a figura central e os alunos têm um papel passivo, absorvendo informações sem questionar. Essa abordagem, chamada de "educação bancária" por Paulo Freire (1987), limita o pensamento crítico e a criatividade dos alunos, focando na memorização e repetição. Embora permita maior controle ao professor, apresenta desvantagens como falta de estímulo à reflexão e dificuldade em avaliar o real nível de aprendizado dos alunos (Krüger; Ensslin, 2013)</p>
                    </div>
                    <div class="grid-2"> <div class="line" id="line-right"></div> </div>
                    <div class="grid"> <div class="line" id="line-left"></div> </div>
                    <div class="grid-text" id="virtual">
                        <h3 class="title-ensino reverse" >Realidade Virtual</h3>
                        <p class="text-ensino reverse">A realidade virtual (RV) na educação permite aprendizado por descoberta, exploração e observação, oferecendo experiências antes impossíveis. Com a manipulação de objetos virtuais, a RV adapta-se a diferentes estilos de aprendizagem, proporcionando experiências personalizadas. Os Sistemas de Realidade Virtual (SRVs) permitem que professores ofereçam aulas interativas, nas quais os alunos podem se mover, ouvir, observar e interagir com objetos, simulando um ambiente real.</p>
                    </div>
                    
                </div>

            </section>
        </div>
        <div class="size-container" id="espaco-container">
            <section class="margin-section" id="espaco-layout">
                <h3 class="subtitle-section" id="blue">Espaço</h3>
                <div class="title-container" id="margin">
                    <span class="material-symbols-outlined chat-icon">token</span>
                    <h1 class="title-section-blue " id="white" >VR Experencie</h1>
                </div>
                <p class="text-padding" id="white">Use sua criatividade e imaginação para explorar e criar coisas incríveis utilizando realidade virtual.</p>
                <div id="container-espaco">
                    <div class="header-espaco">
                        <div class="title-inter-espaco">
                            <span class="material-symbols-outlined chat-icon">token</span>
                            <h5 class=" title-white-espaco">VR Experencie</h5>
                        </div>
                        <div class="spans-espaco">
                            <span class="material-symbols-outlined">print</span>
                            <span class="material-symbols-outlined">save</span>
                            <span class="material-symbols-outlined">share</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="size-container" id="treinamento-container">
            <section class="margin-section" id="treinamento-layout">
                <h3 class="subtitle-section">Educação</h3>
                <h1 class="title-section">Casos de Treinamento</h1>
                <p class="text-padding"> A realidade virtual tem transformado a maneira como os profissionais são treinados em diversas áreas, oferecendo ambientes imersivos e seguros para o desenvolvimento de habilidades práticas. Abaixo, apresentamos alguns casos de uso da realidade virtual em setores como construção civil, engenharia, aviação, medicina e odontologia. </p>
            
                <div id="areas">
                    {% for area_title, area_info in areas_dict.items() %}
                        <div class="area" id="{{area}}">
                            <div class="header-area">
                                <h2>{{area_title}}</h2>
                                <span class="material-symbols-outlined arrow-treinamento">chevron_right</span>
                            </div>
                            <div class="body-area" id="{{area_info.id}}">
                                <img src="{{ area_info.image }}" alt="">
                                <div class="text-body-area">
                                    <h1>{{area_title}}</h1>
                                    <p>{{area_info.conteudo}}</p>
                                    <button>Mais sobre o curso</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </section>
        </div>
        <div class="size-container" id="vd-container">
            <section class="margin-section" id="vd-layout">
                <h3 class="subtitle-section">Educação</h3>
                <h1 class="title-section" style="padding-bottom: 0;">Vantagens e desafios</h1>
                <h1 class="title-section">da Utilização da Realidade Virtual</h1>
                <div class="vd-media-line adv-media-line">
                    <p class="vd-text">Possibilidade de simular situações de risco sem expor os alunos a perigos reais, garantindo a segurança durante o treinamento. </p>
                    <p class="vd-text">Possibilidade de aprendizado remoto, sem necessidade de presença física em uma sala de aula, ampliando o alcance da formação. </p>   
                    <p class="vd-text">Fornece feedback detalhado e contínuo sobre o progresso dos alunos, promovendo um processo de aprendizado mais eficiente. </p>
                </div>
                <div class="vd-text-box"> 
                    <div class="vd-box advantage"></div>
                    <p class="vd-text">Possibilidade de simular situações de risco sem expor os alunos a perigos reais, garantindo a segurança durante o treinamento. </p>
                </div>
                <div class="vd-line-adv"></div>
                <div class="vd-text-box"> 
                    <div class="vd-box advantage"></div>
                    <p class="vd-text">Possibilidade de aprendizado remoto, sem necessidade de presença física em uma sala de aula, ampliando o alcance da formação. </p>
                </div>
                <div class="vd-line-adv"></div>
                <div class="vd-text-box"> 
                    <div class="vd-box advantage"></div>
                    <p class="vd-text">Fornece feedback detalhado e contínuo sobre o progresso dos alunos, promovendo um processo de aprendizado mais eficiente. </p>
                </div>
                <div class="vd-curves-hline">
                    <div class="vd-ch-top">
                        <div class="vd-curve-adv"></div>
                    </div>
                    <div class="vd-hline"></div>
                    <div class="vd-ch-bottom">
                        <div class="vd-curve-dis"></div>
                    </div>
                </div>
                <div class="vd-media-line dis-media-line">
                    <p class="vd-text">Há uma escassez de exemplos do uso da RV em áreas específicas, como a construção civil, onde a falta de materiais disponíveis e os testes limitados resultam em um conhecimento superficial sobre sua aplicação.</p>
                    <p class="vd-text">As empresas podem enfrentar dificuldades com os custos e a infraestrutura necessária para implementar a RV, especialmente em setores que exigem tecnologia de ponta.</p>
                    <p class="vd-text">Na indústria de mineração, as restrições estão relacionadas aos equipamentos e programas utilizados nos sistemas de RV, que podem não ser adequados para simulações mais avançadas.</p>
                </div>
                <div class="vd-text-box vd-text-box-dis"> 
                    <div class="vd-box disadvantage"></div>
                    <p class="vd-text">Há uma escassez de exemplos do uso da RV em áreas específicas, como a construção civil, onde a falta de materiais disponíveis e os testes limitados resultam em um conhecimento superficial sobre sua aplicação.</p>
                </div>
                <div class="vd-line-dis"></div>
                <div class="vd-text-box vd-text-box-dis"> 
                    <div class="vd-box disadvantage"></div>
                    <p class="vd-text">As empresas podem enfrentar dificuldades com os custos e a infraestrutura necessária para implementar a RV, especialmente em setores que exigem tecnologia de ponta.</p>
                </div>
                <div class="vd-line-dis"></div>
                <div class="vd-text-box vd-text-box-dis"> 
                    <div class="vd-box disadvantage"></div>
                    <p class="vd-text">Na indústria de mineração, as restrições estão relacionadas aos equipamentos e programas utilizados nos sistemas de RV, que podem não ser adequados para simulações mais avançadas.</p>
                </div>
            </section>
        </div>
        <div class="size-container" id="social-container">
            <section class="margin-section" id="social-layout">
                <h3 class="subtitle-section">Educação</h3>
                <h1 class="title-section">Consequências Sociais</h1>
                <p class="text-padding"> Embora a realidade virtual ofereça muitos benefícios no treinamento profissional, seu uso extensivo pode ter consequências sociais importantes. A redução da interação humana durante o processo de ensino pode impactar negativamente o desenvolvimento de habilidades interpessoais e a capacidade de trabalhar em equipe, que são essenciais no ambiente profissional.</p>
                
                <div id='container-quadrados'>
                    <div class="quadrado blue-board">
                        <span class="material-symbols-outlined">head_mounted_device</span>
                        <p class="paragrafos-social">Utilização RV para formação profissional</p>
                    </div>
                    <span class="material-symbols-outlined"  id='arrow-secret'>keyboard_double_arrow_down</span>    
                    <div id="quadrados-baixo">

                        <div class="quadrado">
                            <span class="material-symbols-outlined">groups_3</span>
                            <p class="paragrafos-social">Menos relações <br> sociais em ambiente <br> profissional</p>
                        </div>
                        <div id="arrow-quadrado">
                            <span class="material-symbols-outlined" id="arrow" >keyboard_double_arrow_down</span>
                            <div class="quadrado">
                                <span class="material-symbols-outlined">reduce_capacity</span>
                                <p class="paragrafos-social">Menor interação <br> humana</p>
                            </div>
                        </div>
 
                        <div class="quadrado">
                            <span class="material-symbols-outlined">cognition</span>
                            <p class="paragrafos-social">Afeta habilidades interpessoais</p>
                        </div>

                    </div>

            </div>
            </section>
        </div>

        <div class="size-container" id="chatvr-container">
            <section class="margin-section" id="chatvr-layout">
                <div class="title-container">
                    <span class="material-symbols-outlined chat-icon">chat</span>
                    <h1 class="title-section-blue">ChatVR</h1>
                </div>

                <div id="chat-container">
                    <div id="msg-container">
                        <div class="msg left">
                            <div class="user-field">
                                <span class="material-symbols-outlined user-image">person</span>
                                <span class="name">Fulano</span>
                            </div>
                            <div class="body-msg">
                                <p class="paragrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente eveniet necessitatibus quae, ab sunt eaque magni optio possimus hic maiores enim magnam! At molestias a illum blanditiis. Quod, accusamus enim.</p>
                            </div>
                        </div>
                        <div class="msg right">
                            <div class="user-field right">
                                <span class="material-symbols-outlined user-image">person</span>
                                <span class="name">Fulano</span>
                            </div>
                            <div class="body-msg">
                                <p class="paragrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente eveniet necessitatibus quae, ab sunt eaque magni optio possimus hic maiores enim magnam! At molestias a illum blanditiis. Quod, accusamus enim.</p>
                            </div>
                        </div>
                        <div class="msg left">
                            <div class="user-field">
                                <span class="material-symbols-outlined user-image">person</span>
                                <span class="name">Fulano</span>
                            </div>
                            <div class="body-msg">
                                <p class="paragrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente eveniet necessitatibus quae, ab sunt eaque magni optio possimus hic maiores enim magnam! At molestias a illum blanditiis. Quod, accusamus enim.</p>
                            </div>
                        </div>
                    </div>
                    <div id="fields">
                        <input id="msg-field" type="text" placeholder="Digite sua mensagem">
                        <button id="submit-msg"><span>Enviar</span></button>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div id="logo-name-footer">
            <img src="../static/assets/logo-black.png" alt="Logo">
            <span>Virteaching</span>
        </div>
        <div id="line-footer"></div>
        <nav id="footer-navbar">
            <a href="#what-rv-container"><li>Tecnologia</li></a>
            <a href="#equipv-container"><li>Utilitários</li></a>
            <a href="#espaco-container"><li>Espaço</li></a>
            <a href="#treinamento-container"><li>Educação</li></a>
            <a href="#chatvr-container"><li>VR Chat</li></a>
        </nav>
        <div id="credits">
            <img src="../static/assets/ifc-logo.png" alt="IFC Logo">
            <span>@2024 IFC Campus Concórdia</span>
        </div>
    </footer>
    {% endblock %}
</body>

</html>