<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100" rel="stylesheet" />
    <script type="module" src="../static/js/script.js" defer></script>
    <title>Virteaching</title>
</head>
<body>
    {% block conteudo %}
    <header>
        <div id="logo-name">
            <img src="../static/assets/logo-white.png" alt="Logo">
            <span>Virteaching</span>
        </div>
        <nav id="header-navbar">
            <a href="#what-rv-container"><li>Tecnologia</li></a>
            <a href="#equipv-container"><li>Utilitários</li></a>
            <a href="#espaco-container"><li>Espaço</li></a>
            <a href="#treinamento-container"><li>Educação</li></a>
            <a href="#chatvr-container"><li>VR Chat</li></a>
        </nav>
    </header>
    <main>
        <section id="banner-section">
            <div>
                <h1>REALIDADE VIRTUAL:<br><span>UM NOVO MÉTODO DE ENSINO</span></h1>
                <p>Transformando Saberes: Da Sala de Aula Tradicional à Imersão na Realidade Virtual Profissional, Reimaginando a Educação e Ampliando Horizontes de Aprendizagem.</p>
            </div>
            <img src="../static/assets/banner-img.png" alt="">
        </section>
        <div class="size-container" id="what-rv-container">
            <section class="margin-section" id="what-rv-layout"></section>
        </div>
        <div class="size-container" id="equipv-container">
            <section class="margin-section" id="equipv-layout">

                <h3 class="subtitle-section">Utilitários</h3>
                <h1 class="title-section">Equipamentos Virtuais</h1>
                <p class="text-padding"> Na Realidade Virtual, a interação entre o usuário e o sistema é facilitada por uma ampla variedade de dispositivos de entrada e saída. Esses dispositivos permitem que o usuário se comunique com o ambiente virtual de maneira intuitiva e envolvente. Entre os dispositivos mais comuns estão:  </p>
            
                <div id="container-equips">

                    <span class="material-symbols-outlined" id="left-chevron">arrow_back_ios</span>


                    {% for equips_title, equips_info in equips_dict.items() %}

                        <div class="cards {{equips_info.estado}}">
                            <img src="{{equips_info.image}}" alt="">
                            <h4>{{equips_title}}</h4>
                            <p class="text-equips">{{equips_info.conteudo}}</p>
                        </div>
                        
                    {% endfor %}


                    <span class="material-symbols-outlined" id="right-chevron">arrow_forward_ios</span>

                </div>
            
            </section>
        </div>
        <div class="size-container" id="ensino-container">
            <section class="margin-section" id="ensino-layout"></section>
        </div>
        <div class="size-container" id="espaco-container">
            <section class="margin-section" id="espaco-layout"></section>
        </div>
        <div class="size-container" id="treinamento-container">
            <section class="margin-section" id="treinamento-layout">
                <h3 class="subtitle-section">Educação</h3>
                <h1 class="title-section">Casos de Treinamento</h1>
                <p class="text-padding"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            
                <div id="areas">
                    {% for area_title, area_info in areas_dict.items() %}
                        <div class="area" id="{{area}}">
                            <div class="header-area">
                                <h2>{{area_title}}</h2>
                                <span class="material-symbols-outlined arrow-treinamento">chevron_right</span>
                            </div>
                            <div class="body-area" id="{{area_info.id}}">
                                <img src="{{ area_info.image }}" alt="">
                                <div class="text-body-area">
                                    <h1>{{area_title}}</h1>
                                    <p>{{area_info.conteudo}}</p>
                                    <button>Mais sobre o curso</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </section>
        </div>
        <div class="size-container" id="vd-container">
            <section class="margin-section" id="vd-layout"></section>
        </div>
        <div class="size-container" id="social-container">
            <section class="margin-section" id="social-layout">
                <h3 class="subtitle-section">Educação</h3>
                <h1 class="title-section">Consequências Sociais</h1>
                <p class="text-padding"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                
                <div id='container-quadrados'>

                <div class="quadrado">
                    <span class="material-symbols-outlined">head_mounted_device</span>
                    <p class="paragrafos">Utilização RV para formação profissional</p>
                </div>

                <div id="quadrados-baixo">
                    <div class="quadrado cor-borda">
                        <span class="material-symbols-outlined">groups_3</span>
                        <p class="paragrafos">Menos relações <br> sociais em ambiente <br> profissional</p>
                    </div>

                    <div id='container-baixo'>
                        <span class="material-symbols-outlined" id='esse'>keyboard_double_arrow_down</span>

                        <div class="quadrado cor-borda">
                            <span class="material-symbols-outlined">reduce_capacity</span>
                            <p class="paragrafos">Menor interação <br> humana</p>
                        </div>

                    </div>

                    <div class="quadrado cor-borda">
                        <span class="material-symbols-outlined">cognition</span>
                        <p class="paragrafos">Afeta habilidades interpessoais</p>
                    </div>

                </div>

            </div>
            </section>
        </div>

        <div class="size-container" id="chatvr-container">
            <section class="margin-section" id="chatvr-layout">
            </section>
        </div>
    </main>
    <footer>
        <div id="logo-name-footer">
            <img src="../static/assets/logo-black.png" alt="Logo">
            <span>Virteaching</span>
        </div>
        <div id="line-footer"></div>
        <nav id="footer-navbar">
            <a href="#what-rv-container"><li>Tecnologia</li></a>
            <a href="#equipv-container"><li>Utilitários</li></a>
            <a href="#espaco-container"><li>Espaço</li></a>
            <a href="#treinamento-container"><li>Educação</li></a>
            <a href="#chatvr-container"><li>VR Chat</li></a>
        </nav>
        <div id="credits">
            <img src="../static/assets/ifc-logo.png" alt="IFC Logo">
            <span>@2024 IFC Campus Concórdia</span>
        </div>
    </footer>
    {% endblock %}
</body>

</html>